/*custom fonts*/
@font-face {
    font-family: 'Lobster';
    src: url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
}


body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal; 
    font-size: 100%;
    color: navy; background-color: white;
    /* text-align: left;
    line-height: 150%; */
    /* display: table; */
}

h1 {
    font-family: 'Lobster'; font-style: normal;
    color: darkblue;
}


h2 {
    font-family: cursive; font-style: oblique; font-size: 150%;
    color: darkblue; 
    text-align: center;
    line-height: 200%;
}


h3 {
    font-family: 'Lobster'; font-style: italic; 
    font-size: 16px;
    color: rgb(237, 100, 196); background-color: lightyellow;
}

/* 
p {

    font-style: normal; font-size: 120%;
    color: royalblue; 
    line-height: 120%;
    text-align: left;

} */

   
span {
    height: 50px; 
    width: 75px;
    background-color: dodgerblue;
    color: white;
    font-weight: bolder;
    padding : 10px;
    /* display: inline-block; */
    /* float:right; */
    }



img {

    width: 400px;
    height: 200px;
}

/* a {
    outline: 3px solid yellowgreen;
} */

.button {
background-color: rgb(175, 245, 241);
color: black;
font-weight: bolder;
padding: 15px 20px;
margin-top: 10px;
text-decoration: none;
display: inline-block;
}

.button:hover {
      background-color: lightskyblue;
      color: whitesmoke;
}



.container {
display: grid;
/* display: flex; */
grid-template-areas:  
             "header header"
             "menu content"
             "footer footer";
grid-template-columns: 1fr 3fr;     
gap: 5px;
background-color: rgb(175, 245, 241,0.8);       
padding: 5px;
}


.container > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
  }

.container > div.header {
    grid-area: header;
    text-align: center;
}


.container > div.menu {
    grid-area: menu;
  }
  .container > div.content {
    grid-area: content;
  }
  .container > div.footer {
    grid-area: footer;
  }
   

  a {
    display: block;
    font-weight: bold;
    color: #ffffff;
    background-color: rgb(127, 182, 255);
    /* width: 500px; */
    text-align: left;
    padding: 5px;
    margin: 0 auto;
    margin-top: 10px;
  }

  a:hover {
    background-color: rgba(108, 111, 200, 0.6);
    color: yellow;
  }

  /* focus is when someone tabbing the page links, using tab key on keyboard */
  a:focus {   
    background-color: rgba(180, 54, 25, 0.6);
    color: white;
  }

  a:active {
    border : 3px solid blue;
  }

  ul {
    list-style-type: square;
  }

  ol {
    list-style: upper-roman;
  }